  body {
    font-family: Comic Sans MS;
  }
  .wu-link {
    color: rgb(140, 0, 85);
    font-size: 12px;
  }
  html {
    background-image: https://media.discordapp.net/attachments/622070887130333211/644931945859514388/unknown.png?width=400&height=134;
  }
